*.mp4
*.pt
hancom/13_yolo/basic/runs/
hancom/13_yolo/images.zip
hancom/13_yolo/yolo11n_openvino_model/
hancom/13_yolo/images/
hancom/13_yolo/demo_data/
hancom/13_yolo/embeddings.npy
hancom/13_yolo/paths.npy
hancom/13_yolo/sahi/
hancom/13_yolo/output_result.jpg
hancom/13_yolo/kernel.errors.txt
hancom/13_yolo/advanced/yolo_sahi.p/
.claude/
__pycache__/
*.pyc
node_modules/
package-lock.json
.env