input{
    width: 50px;
    padding: 4px;
    font-size: 14px;
}

select,button {
    width: 60px;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;

}

#out {
    font-size: 18px;
    font-weight: 500;
    margin-top: 12px;
}