.card {
    width: 150px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(25, 126, 50);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    opacity: 0.85; /* 투명도 85%*/
    transition: all 0.3s ease; /*바뀔 때 0.3초 스르륵*/
}

/* 마우스 올리면 => 떠오르고 또렷해지고 그림자 커짐*/

.card:hover {
    color: rgb(34, 51, 12);
    opacity: 1;
    transform: translateY(-8px)  ; /*위로 8px 떠오름*/
    box-shadow: 0 16px 32px rgb(115, 138, 80);
    background: linear-gradient(rgb(83, 146, 83), yellow);
}