.box {
    padding: 20px;
    background: burlywood;
    border-radius: 30px;
    text-align: center;
}

.box h1 {
    color: yellow;
}

p {
    padding-top: 20px;
}

span {
    color: aqua;
    font-weight: bolder;
    font-size: 20px;
}